@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@layer components {
    .title-principal {
        @apply text-Beige font-Montserrat font-Bold text-[1rem] desktop:text-[3rem];
    }


    .title-secundary {
        @apply text-LightGray text-[1.5rem];
    }
}

